table{	position:relative;
	top:50%;
}

input[type="submit"]{
	width: 75px;
	height:75px; 
	padding:5px;
	background-color: #AAAAAA;
	border: 1px solid #AAAAAA;
	color:#000;
	font-family:pix;
	text-align:left;
}

input:hover, input:focus{
	border-color: #000000;
}

body { height: 100%; margin: 0; padding: 10 }

#floater {height:10%; text-align: center;  font-size:30px; font-weight:bold; position: relative;z-index:4; }

#map_canvas { margin-left: auto ;  margin-right: auto ;  z-index: 3; position: relative}	