input[type="submit"]{
	width: 75px;
	height:75px; 
	padding:5px;
	background-color: #AAAAAA;
	border: 1px solid #AAAAAA;
	color:#000;
	font-family:pix;
	text-align:left;
}
#submit2{
	height:50px;
	background-color: #CCCCCC;
}
input[type="text"]{
	padding: 9px;
	border: solid 1px #DDDDDD;
	outline: 0;
	font-family:pix;
	height:32px;
	width: 200px;
	background: #EEEEEE;
}
input[type="password"]{
	padding: 9px;
	border: solid 1px #DDDDDD;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	height:33px;
	width: 200px;
	background: #EEEEEE;
}
input:hover, input:focus{
	border-color: #000000;
}
#drop{
	font-family: pix;
	font-size:300%;
}
