@font-face {
	font-family: pix;
	src:url('../static/victor-pixel.ttf');
}
body{
	background-color:#D6D6D6;
	text-align:center;
}
input[type="submit"]{
	width: 75px;
	height:75px; 
	padding:5px;
	background-color: #CEDEF4;
	border: 1px solid #CEDEF4;
	color:#000;
	font-family:pix;
}
input{
	padding: 9px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px;
	background: #FFFFFF;
}
input:hover, input:focus {
	border-color: #000000;
}
#drop{
	font-family: pix;
	font-size:300%;
}
