<!DOCTYPE HTML>
<link rel="stylesheet" type="text/css" href="../static/style.css" />
<link rel="stylesheet" type="text/css" href="../static/Home.css" />
<script src="../static/jquery.js" type="text/javascript"></script>
<script src="../static/scripts.js" type="text/javascript"></script>

<table id="tbl" border="0">
	<tr>
		<td width=80>
			<input id="drop" type="submit" name = "button" value = "Drop">
		</td>
		<td width=80>
			<input id="browse" type="submit" name = "button" value = "Browse">
		</td>
		<td width=80>	
			<input type="submit" name = "button" value = "Foo">
		</td>
		<td width=80>	
			<input type="submit" name = "button" value = "Bar">
		</td>
		<td width=80>	
			<input type="submit" name = "button" value = "Foo">
		</td>
	</tr>
</table>

<div id="new">
	<form method="POST">
	<input type="hidden" id="Latitude" name="Latitude" value=0 />
	<input type="hidden" id="Longitude" name="Longitude" value=0 />
	
	<textarea rows="6" cols="40" name="line"></textarea><input type="submit" name="button" value="Create Message" />
	</form>
</div>

<div id="scan">
	{% if messages %}
		<ol>
		{% for x in messages %}
		<li>{{x}}</li>
		{% endfor %}
		</ol>
	{% else %}
		<h1>NO MESSAGES WITHIN AREA</h1> 
	{% endif %}
</div>

<script src="../static/Home.js" type="text/javascript"></script>
