<!DOCTYPE html>
<html>
<body style="width: 100%; height:100%;background-color:olive;";>

<script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>

<form method="POST">
 <input type="hidden" id="Latitude" name="Latitude" value={{Longitude}} />
 <input type="hidden" id="Longitude" name="Longitude" value={{Longitude}} />

Longitude:{{Longitude}}<br>
Latitude:{{Latitude}}<br>

	<textarea rows="6" cols="40" name="line"> </textarea> <br>
	<input type="submit" name="button" value="Create Message" /> <br>
	<input type="submit" name="button" value="Cancel" />


</form>





<script>

function getLocation()
  {
  if (navigator.geolocation)
    {    navigator.geolocation.watchPosition(showPosition);    }

  }  
function showPosition(position)
  {
   document.getElementById("Latitude").value =  position.coords.latitude;
   document.getElementById("Latitude").value  =  position.coords.latitude;
  }
  
    $(document).ready(function() {
       getLocation();
    });
  	  


</script>
<!--TBI,document ready would prescan location and display-->
</body>
</html>
