<!DOCTYPE html>
<html>

<script type=text/javascript src="{{  url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript src="{{  url_for('static', filename='scripts.js') }}"></script>

<body style="width: 100%; height:100%;background-color:olive;";>

<form method="POST">
 <input type="hidden" id="Latitude" name="Latitude" value={{Longitude}} />
 <input type="hidden" id="Longitude" name="Longitude" value={{Longitude}} />

Longitude:{{Longitude}}<br>
Latitude:{{Latitude}}<br>

	<input type="submit" name="button" value="BACK" >

	{% if messages %}
		<ol>
		{% for x in messages %}
		<li>{{x}}</li>
		{% endfor %}
		</ol>
	{% else %}
		<h1>NO MESSAGES WITHIN AREA</h1> 
	{% endif %}



</form>







</body>
</html>
